<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<script src="../../js/mui.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/para.js"></script>
<script src="../../js/function.js"></script>
<link href="../../css/mui.min.css" rel="stylesheet" />
<link href="../../css/iconfont.css" rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />
</head>

<body>	
<span id="changeM" style="font-size: 14px;width: 100%;text-align: center;bottom: 0;position: absolute; height: 40px;line-height: 40px;color: #757575;">点击切换<a href="javascript:;" id="change">手机版</a></span>
<script src="../../js/Controller/login.js"></script>
<script>
</script>
</body>
</html>