<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<script src="../../js/mui.min.js"></script>
<script src="../../js/para.js"></script>
<script src="../../js/function.js"></script>
<link href="../../css/mui.min.css" rel="stylesheet" />
<link href="../../css/iconfont.css" rel="stylesheet" />
<link href="../../css/iconfont1.css" rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />
</head>

<body>
	<div class="fade"></div>
<div id="wrapper">
	<div id="air">
		<div class="mui-scroll-wrapper" id="userBar">
			<div class="mui-scroll">
				<ul class="mui-table-view view1 clearfix">
					<li class="mui-table-view-cell1 fl" id="userAvatar">
						<p><span>账户：</span><span id="username">暂无</span></p>
						<p><span>余额：</span><span id="bouns">0.00</span></p>
					</li>
					<li class="mui-table-view-cell1 fr" id="userSz">
						<span id="yue">上庄余额</span>
						<span id="mo">0.00</span>
					</li>
				</ul>
				<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell">
						<a href="topup.html" class="mui-navigate-right"><i class="iconfont1 icon-chongzhi"></i>充值</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="drawith.html" class="mui-navigate-right"><i class="iconfont1 icon-chongzhi1"></i>提现</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="trans.html" class="mui-navigate-right"><i class="iconfont1 icon-zhuanzhang"></i>转账</a>
					</li>
				</ul>
				<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell">
						<a href="myCount.html" class="mui-navigate-right"><i class="iconfont1 icon-gerenziliao"></i>个人资料</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="loginpwd.html" class="mui-navigate-right"><i class="iconfont1 icon-denglumima"></i>登录密码修改</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="moneypwd.html" class="mui-navigate-right"><i class="iconfont1 icon-zijinmima  "></i>资金密码修改</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="setMpwd.html" class="mui-navigate-right"><i class="iconfont1 icon-denglumima"></i>设置资金密码</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="bankcards.html" class="mui-navigate-right"><i class="iconfont1 icon-card"></i>银行卡管理</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="agent.html" class="mui-navigate-right"><i class="iconfont1 icon-agent"></i>代理管理</a>
					</li>
				<!--<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell">
						<a href="report.html" class="mui-navigate-right"><i class="iconfont1 icon-record"></i>资金明细</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="perReport.html" class="mui-navigate-right"><i class="iconfont1 icon-record"></i>盈亏报表</a>
					</li>-->
					<!--<li class="mui-table-view-cell">
						<a href="teamReport.html" class="mui-navigate-right"><i class="iconfont1 icon-record"></i>团队报表</a>
					</li>-->
				<!--</ul>-->
					<li class="mui-table-view-cell">
						<a href="teamview.html" class="mui-navigate-right"><i class="iconfont1 icon-team"></i>团队总览</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="teamReport.html" class="mui-navigate-right"><i class="iconfont icon-record"></i>团队报表</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="teambet.html" class="mui-navigate-right"><i class="iconfont1 icon-touzhu"></i>团队投注</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="member.html" class="mui-navigate-right"><i class="iconfont icon-user" style="font-weight: bold;"></i>用户管理</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="perReport.html" class="mui-navigate-right"><i class="iconfont icon-record" style="font-weight: bold;"></i>个人报表</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="report.html" class="mui-navigate-right"><i class="iconfont1 icon-card"></i>资金明细</a>
					</li>
				</ul>
				<ul class="mui-table-view" id="exit">
					<li class="mui-table-view-cell">
						<a>退出登录</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="../../js/Controller/user.js"></script>
</body>
</html>