<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<script src="../../js/mui.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/para.js"></script>
<script src="../../js/function.js"></script>
<link href="../../css/mui.min.css" rel="stylesheet" />
<link href="../../css/iconfont.css" rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />
</head>

<body>
<header class="mui-bar mui-bar-nav" id="topBar">
    <h1 class="mui-title" id="title">我要追号</h1>
    <a class="mui-icon mui-icon-left-nav mui-pull-left iconfont icon-leftarrow" id="back"></a>
</header>
<div id="wrapper">
	<div id="air">
		<ul id="chase-list">
		</ul>
	</div>
</div>
<nav class="mui-bar mui-bar-tab bottom-btn" id="navBar">确定</nav>
<script src="../../js/Controller/chase.js"></script>
</body>
</html>