<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<script src="../../js/mui.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/para.js"></script>
<script src="../../js/function.js"></script>
<link href="../../css/mui.min.css" rel="stylesheet" />
<link href="../../css/iconfont.css" rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />
</head>

<body>
<header class="mui-bar mui-bar-nav" id="topBar">
    <h1 class="mui-title" id="title">订单详情</h1>
    <a class="mui-icon mui-icon-left-nav mui-pull-left iconfont icon-leftarrow" id="back"></a>
    <a class="mui-icon-right-nav mui-pull-right" id="chase">追号</a>
</header>
<div id="wrapper">
	<div id="air">
		<div id="order-main">
			<span>订单金额：<strong id="je">0.000</strong>元</span>
			<span>订单注数：<strong id="zs">0</strong>注</span>
			<div class="order-list">
			</div>
		</div>
		<div class="btn-box">
		   <a href="javascipt:;" id="sendBuy">马上购买</a>
		</div>
	</div>
</div>
<script src="../../js/Controller/order.js"></script>
</body>
</html>