<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<script src="../../js/mui.min.js"></script>
<script src="../../js/para.js"></script>
<script src="../../js/function.js"></script>
<link href="../../css/mui.min.css" rel="stylesheet" />
<link href="../../css/iconfont.css" rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />
<script src="../../js/jquery.js"></script>
<script src="../../js/jquery.liMarquee.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/swiper.min.js" type="text/javascript" ></script>
<link href="../../css/swiper.min.css" rel="stylesheet" />
<style type="text/css">
	.str_origin	a{
		float: left;
		padding-right: 10px;
		line-height: 30px !important;
		color: white !important;
	}
	.dowebok{
		overflow: hidden;
		position: relative;
	}
</style>
</head>

<body>
		<div class="fade fade1"></div>
<header class="mui-bar mui-bar-nav" id="topBar">
    <h1 class="mui-title">众富娱乐</h1>
    <b id="service-icon"></b>
</header>
<div id="wrapper" style="top: 45px;">
	<div id="air">
		<div id="oball-bar">
			
			<div id="banner1">
				<div class="mui-slider" id="bannerImg1">
				  <div class="mui-slider-group mui-slider-loop">
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><img src="../../images/banner/banner1.jpg"></div>
				    <div class="mui-slider-item"><img src="../../images/banner/banner2.png"></div>
				    <div class="mui-slider-item"><img src="../../images/banner/banner3.png"></div>
				    <!--支持循环，需要重复图片节点-->
				    <div class="mui-slider-item mui-slider-item-duplicate"><img src="../../images/banner/banner1.jpg"></div>
				  </div>
				</div>
			
		</div>
			
		</div>
		
		<div id="banner">
			<div class="swiper-container" id="bannerImg">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="../../images/banner/1.png"></div>
					<div class="swiper-slide"><img src="../../images/banner/2.png"></div>
					<div class="swiper-slide"><img src="../../images/banner/3.png"></div>
					<div class="swiper-slide"><img src="../../images/banner/4.png"></div>
				</div>
			</div>
		</div>
		</div>
		</div>
<nav class="mui-bar mui-bar-tab" id="navBar">
    <a class="mui-tab-item mui-active" href="../Home/home.html" title="众富娱乐">
        <span class="mui-icon  mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="../Game/gameList.html" title="游戏大厅">
        <span class="mui-icon  mui-icon-paperplane mui-icon1"></span>
        <span class="mui-tab-label">游戏大厅</span>
    </a>
    <a class="mui-tab-item" href="../Record/record.html" title="记录查询">
        <span class="mui-icon  mui-icon-search"></span>
        <span class="mui-tab-label">记录查询</span>
    </a>
    <a class="mui-tab-item" href="../User/user.html" title="我的">
        <span class="mui-icon  mui-icon-person mui-icon1"></span>
        <span class="mui-tab-label">我的账户</span>
    </a>
</nav>
<script src="../../js/Controller/index.js"></script>
</body>
</html>