<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<script src="../../js/mui.min.js"></script>
<script src="../../js/jquery.js"></script>
<script src="../../js/swiper.min.js" type="text/javascript" ></script>
<script src="../../js/para.js"></script>
<script src="../../js/function.js"></script>
<link href="../../css/mui.min.css" rel="stylesheet" />
<link href="../../css/iconfont.css" rel="stylesheet" />
<link href="../../css/style.css" rel="stylesheet" />
<link href="../../css/swiper.min.css" rel="stylesheet" />
<style type="text/css">
	.content p{
		background: inherit !important;
		color: black !important;
		font-size: 14px !important;
	}
	.title{
		font-size: 18px;
		text-align: center;
		line-height: 40px;
	}
	.time{
		font-size: 12px;
		text-align: center;
		line-height: 40px;
	}
	.content{
		padding: 10px;
		margin-top: 40px;
	}
</style>
</head>

<body>
	<header class="mui-bar mui-bar-nav" id="topBar">
    <h1 class="mui-title" id="title">众富娱乐</h1>
    <a class="mui-icon mui-icon-left-nav mui-pull-left iconfont icon-leftarrow" id="back"></a>
</header>
	<div class="fade fade1"></div>
<div id="wrapper">
	<div id="air">
		<div class="content">
			<div class="title"></div>
			<div class="time"></div>
			<div class="cont"></div>
		</div>
		</div>
	</div>
</div>

<script src="../../js/Controller/content.js"></script>

</body>
</html>